.masthead {
    padding: 1rem 0;
    margin-top: -1.5rem;
    background-color: white;
    border-top: solid 1em white;
    color: black;
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px #FF8A89;
    text-align: center;
    font-size: 2rem;
}

/*--Here's the Background Image!--*/
.main {
    padding: 0 0.938rem;
    margin: 0 auto;
    /*min-width: 37.5rem;*/
    width: 100%;
    height: 100%;
    overflow: auto;
    background: white url(images/couple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*--Here's everything in the Pink tab!--*/

.content {
    background-color: #FF8A89;
    width: 50%;
    min-height: 10px;
    margin: 20rem auto;
    border-radius: 2rem;
    border: .25rem solid #FF332F;
}

/*--This is the sandwhich drawings--*/
.sandwich {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box_content a {
    color: #FFD9D8;
    text-decoration: none;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: .5rem 1rem;
    background-color: #7FC9D1;
}

.box_content {
    padding: 1rem 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

#not_a_sandwich,
#several_sandwiches,
#foot_long_hero,
#egg_salad_bagel,
#ham_cheese_croissant,
#peanut_butter_jelly,
#time_travel,
#naked_math,
#head_explode,
#high_school_friend {
    display: none;
}

.answer {
    padding-bottom: 1em;
}

/*This keeps the button and the answer choice next to one another*/
.button_answer,
.answer p {
    display: inline;
}
/*--How can indent the text--*/

.button_answer {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: .25rem .75rem;
    background-color: #7FC9D1;
}


/*--Answers--*/
h2 {
    text-align: center;
}

button:focus {
    outline: 0;
}

button {
    cursor: pointer;
}
@media only screen and (max-width: 700px) {
    .masthead {
        font-size: 1rem;
    }
}


